.searchbar{
  text-align: center;
  margin-bottom: 50px;
}

.searchBody{
  width: 70%;
  margin-left: auto ;
  margin-right: auto ;
}

.noneFound{
  padding: 10px;
  border-radius: 5px;
  background-color: lightpink;
}

.red{
  color: orangered;
}

.green{
  color: seagreen;
}


.book-icon {
  float: right;
  font-size: 1.3em
}

.btn-group {
   float: right;
   margin-top: 4px;
}

.large-icon{
  margin-right: 5px;
  font-size: 1.3em;
}

.floaty{
  float: right;
}

.pointer {
    cursor: pointer;
}
